@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Cormorant+SC&display=swap');

html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

.directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.directions p {
    margin: 0;
}

.directions_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;
    margin-top: 50px;
    
    font-family: 'Cormorant SC', serif;
    font-size: 40px;
}

.origin_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.origin_container input {
    width: 400px;
    height: 50px;
    
    padding-left: 10px;
    border-radius: 30px;

    font-family: 'Cormorant SC', serif;
    font-size: 30px;
}

.search button {
    width: 300px;
    height: 70px;

    border-radius: 30px;

    font-family: 'Cormorant SC', serif;
    font-size: 40px;
}


.directions_container {
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    margin-top: 60px;
}

.directions_steps {
    width: min-content;

    background-color: white;
    border-radius: 10px;
}

.transit_mode {
    display: flex;
    margin-bottom: 20px;

    border-bottom: 1px solid black;
}

.transit_mode > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.transit_mode > div img {
    margin: 0 20px;
}

.transit_mode_selected {
    border-bottom: 5px solid #4b4b4b;
}

.transit_mode img {
    width: 50px;
    cursor: pointer;
    /* height: 50px; */
}

.steps_container {
    margin-left: 12px;
    margin-bottom: 20px;

    color: #4b4b4b;
    font-family: sans-serif, serif
}

.duration {
    font-size: 20px;
    font-weight: 900;
    text-align: center;

    margin: 0 15px 20px 0 !important;
}

.departure_details {
    display: flex;
    align-items: center;
}

.departure_time {
    width: 70px;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 900;
}

.stop_icon {
    border: 5px solid #AAA;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 17px;
}

.departure_position {
    font-size: 17px;
    font-weight: 900;
    max-width: calc(100% - 114px);
}

.step_details {
    display: flex;
    align-items: center;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    /* margin-left: 15px; */
}

.icon_container img {
    width: 30px;
}

.stop_line {
    width: 4px;
    height: 100px;
    margin-left: 4px;
    margin-right: 25px;
}

.stop_line.dotted {
    border-right: 5px dotted #AAA;
}

.transit_details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 17px;
}

.step_distance, .step_time {
    font-weight: 500;
}

.line_name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 25px;

    border-radius: 8px;
}








